<%-include("header.ejs")%>
<body>
<%-include("nav.ejs")%>
<div id="main">
    <div id="page-post">
        <article class="post detail">
            <div class="meta">
                <div class="date">09月27, 2017</div>
                <div class="comment">
                    <a href="#comments">1 comments</a>
                </div>
            </div>
            <h1 class="title"><%- data.title %></h1>
            <div class="entry-content">
                <div class="toc">
                    <h4>作者：<%- data.author %></h4>
                </div> 
                <p>关键字：<%- data.keywords %></p>
                <div>
                    <%- data.content %>
                </div>
            </div>
        </article>
    </div>

    <%-include("footer.ejs")%>
    </div>
</div>
</body>
</html>